@import url('https://fonts.googleapis.com/css2?family=Neonderthaw&family=Tilt+Neon&display=swap');
* {
    margin: 0;
    padding: 0;
}

/* home */
.home {
    min-height: fit-content;
}

/* home */

/* navbar */
.navbar {
    font-family: "Tilt Neon", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
      "XROT" 0,
      "YROT" 0;
}
/* navbar */

/* content2 */
.card {
    font-family: "Tilt Neon", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
      "XROT" 0,
      "YROT" 0;
}
/* content2 */


/* footer */
.icons i {
    color: white;
    font-size: 30px;
    cursor: pointer;
    border: 2px solid white;
    border-radius: 5px;
}

.copyright{
    color: rgb(255, 255, 255);
    
}
#po{
    margin-top: -200px;
}
footer{
    background-color: rgb(0, 0, 0);
    font-family: "Tilt Neon", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
      "XROT" 0,
      "YROT" 0;
}
/* footer end */