@import url('https://fonts.googleapis.com/css2?family=Sevillana&display=swap');
* {
    margin: 0;
    padding: 0;
}

/* home */
.home {
    height: 100vh;
    background-image: url('../img/aespa.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
/* home */






/* footer */
.icons i {
    color: white;
    font-size: 30px;
    cursor: pointer;
    border: 2px solid white;
    border-radius: 5px;
}

.copyright {
    color: rgb(255, 255, 255);
    background-color: black;
    margin-top: 20px;
}
/* footer end */