@import url('https://fonts.googleapis.com/css2?family=Sevillana&display=swap');
* {
    margin: 0;
    padding: 0;
}

/* navbar */

/* navbar */






/* footer */
.copyright text-center {
    width: 150%;
    background-color: rgb(215, 20, 20);
}
.icons i {
    color: white;
    font-size: 30px;
    cursor: pointer;
    border: 2px solid white;
    border-radius: 5px;
}
.icons i:hover {
    color: rgb(0,0,164);
    background-color: white;
}
.copyright {
    color: white;
    margin-top: 20px;
}
/* footer end */